name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --bins --verbose
    - name: Run tests
      run: cargo test --verbose
      env:
        LD_LIBRARY_PATH: ./main/src/util
        DYLD_FALLBACK_LIBRARY_PATH: /main/src/util
